<div class="calculadora">
  <h1>Calculadora</h1>

  <div class="top">
    <button type="button" (click)="limpar()" class="clear">C</button>
    <input type="text" id="display" name="display" [value]="display" readonly />
    <!-- [value] => one way data biding, associa o display ao value do input text, procurando no component pelo display e assim executa a lógica, constantemente atualizado  -->
  </div>

  <div class="botoes">
    <button
      type="button"
      (click)="adicionarNumero('7')"
      class="numero"
      id="bnt7"
    >
      7
    </button>
    <button
      type="button"
      class="numero"
      (click)="adicionarNumero('8')"
      id="bnt8"
    >
      8
    </button>
    <button
      type="button"
      class="numero"
      (click)="adicionarNumero('9')"
      id="bnt9"
    >
      9
    </button>

    <button class="operacao" (click)="definirOperacao('+')" id="bntSoma">
      +
    </button>

    <button
      type="button"
      class="numero"
      (click)="adicionarNumero('4')"
      id="bnt4"
    >
      4
    </button>
    <button
      type="button"
      class="numero"
      (click)="adicionarNumero('5')"
      id="bnt5"
    >
      5
    </button>
    <button
      type="button"
      class="numero"
      (click)="adicionarNumero('6')"
      id="bnt6"
    >
      6
    </button>

    <button class="operacao" (click)="definirOperacao('-')" id="bntSubtracao">
      -
    </button>

    <button
      type="button"
      class="numero"
      (click)="adicionarNumero('1')"
      id="bnt1"
    >
      1
    </button>
    <button
      type="button"
      class="numero"
      (click)="adicionarNumero('2')"
      id="bnt2"
    >
      2
    </button>
    <button
      type="button"
      class="numero"
      (click)="adicionarNumero('3')"
      id="bnt3"
    >
      3
    </button>

    <button
      class="operacao"
      (click)="definirOperacao('*')"
      id="bntMultiplicacao"
    >
      x
    </button>

    <button class="numero" (click)="adicionarNumero('0')" id="bnt0">0</button>
    <button class="ponto" (click)="adicionarNumero('.')" id="bntDecimal">
      .
    </button>
    <button class="igual" (click)="calcular()" id="bntCalcular">=</button>

    <button class="operacao" (click)="definirOperacao('/')" id="bntDivisao">
      /
    </button>
  </div>
</div>
