<div class="calculadora">
  <h1>Calculadora</h1>

  <div class="top">
    <button type="button" class="clear">C</button>
    <input type="text" id="display" name="display" />
  </div>

  <div class="botoes">
    <button class="numero" id="bnt7">7</button>
    <button class="numero" id="bnt8">8</button>
    <button class="numero" id="bnt9">9</button>

    <button class="operacao" id="bntSoma">+</button>

    <button class="numero" id="bnt4">4</button>
    <button class="numero" id="bnt5">5</button>
    <button class="numero" id="bnt6">6</button>

    <button class="operacao" id="bntSubtracao">-</button>

    <button class="numero" id="bnt1">1</button>
    <button class="numero" id="bnt2">2</button>
    <button class="numero" id="bnt3">3</button>

    <button class="operacao" id="bntMultiplicacao">x</button>

    <button class="numero" id="bnt0">0</button>
    <button class="ponto" id="bntDecimal">.</button>
    <button class="igual" id="bntCalcular">=</button>

    <button class="operacao" id="bntDivisao">/</button>
  </div>
</div>
